extends ../../index

prepend head
    - const ID = 'drawer'
    - const TITLE = 'Drawer'
    - const DESC = 'The navigation drawer slides in from the left and contains the navigation destinations for your app.'

    style.
        iframe {
            display: block;
            width: 100%;
            height: 400px;
        }

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Permanent')
                iframe(src='/components/drawer/permanent.html')

            +page-section('Dismissible')
                iframe(src='/components/drawer/dismissible.html')

            +page-section('Modal')
                iframe(src='/components/drawer/modal.html')