extends ../../index

prepend head
    - const TITLE = 'Badge'
    - const ID = 'badge'

block main
    +page
        +page-header(TITLE)

        +page-content
            section
                +mdc-badge(4)
                    +mdc-typography('Typography', 'body1')(element='span')

            section
                +mdc-badge(4)
                    +mdc-button('Button', 'button')(outlined)

            section
                +mdc-badge(4)
                    +mdc-icon('notifications')

            section
                +mdc-badge(4)(inset)
                    +mdc-icon-button('notifications')