extends /layouts/component-page

prepend head
    - ID = 'layout-grid'
    - TITLE = 'Layout Grid'
    - DESC = 'Material design’s responsive UI is based on a 12-column grid layout.';

block main
    