$theme-primary-color: #a86454;

@use 'lib/styles' with (
    $theme-primary: $theme-primary-color
);
@use 'prismjs/themes/prism';
@use 'lib/styles/image-list';
@use 'lib/styles/theme';
@use 'lib/styles/typography';

@include theme.scrollbars();

body {
    margin: 0;
}

p {
    margin-top: 0;
}

.app-header {
    img {
        height: 100%;
    }

    .version {
        margin-top: 4px;
        margin-left: 1rem;
        color: rgba(255, 255, 255, .8);
    }
}

.app-drawer {
    position: fixed;
    top: 64px;
    height: calc(100% - 64px);
    z-index: 1;
}

.app-content {
    max-height: calc(100vh - 64px);
    margin-left: 256px;
    box-sizing: border-box;
    overflow: auto;
}

.page {
    max-width: 1024px;
    margin: auto;
    padding: 2rem;

    .page-header {

    }

    .page-title {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.section {
    .section-title {
        @include typography.typography('headline5');
    }

    .section-description {
        @include typography.typography('body1');
    }
}

.code-block {
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    pre {
        margin: 0;
    }
}

.example {
    .code-block {
        display: none;
        margin-top: 1rem;
    }

    + .example {
        margin-top: 1rem;
    }

    iframe {
        display: block;
        width: 100%;
        height: 400px;
    }
}

iframe {
    border: none;
}

.markdown {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h1 {
        @include typography.typography('headline4');
    }

    h2 {
        @include typography.typography('headline5');
    }

    h3 {
        @include typography.typography('headline6');
    }

    blockquote {
        @include typography.typography('body2');
        margin-left: 0;
        margin-top: 0;
        padding-left: 1rem;
        border-left: 4px solid $theme-primary-color;
    }
}

.mdc-data-table {
    width: 100%;
}

.standard-image-list {
    @include image-list.standard-columns(5);
}

.masonry-image-list {
    @include image-list.masonry-columns(5);
}