include /index

mixin nav-item(id, text)
    +mdc-list-item()(element='a' href=`/components/${id}.html` activated=id === ID)
        +mdc-list-item__text(text)

doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            title MDC Pug | #{TITLE}
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
            link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
            link(rel="stylesheet" href="/index.css")
    body.mdc-typography
        block header
            +mdc-top-app-bar()(fixed)
                +mdc-top-app-bar__row
                    +mdc-top-app-bar__section()(alignStart)
                        +mdc-top-app-bar__title('MDC Pug')
                    +mdc-top-app-bar__section
                        +mdc-avatar()(src='/pug.svg' style='align-self: center')
                    +mdc-top-app-bar__section()(alignEnd)
                        +mdc-top-app-bar__action-item('code')(element='a' href='https://github.com/olegpolyakov/mdc-pug' target='_blank')

        div.mdc-top-app-bar--fixed-adjust
            +mdc-drawer.app-drawer
                +mdc-list()(element='nav')
                    +nav-item('avatar', 'Avatar')
                    +nav-item('badge', 'Badge')
                    +nav-item('button', 'Button')
                    +nav-item('card', 'Card')
                    +nav-item('checkbox', 'Checkbox')
                    +nav-item('chips', 'Chips')
                    +nav-item('circular-progress', 'Circular Progress')
                    +nav-item('data-table', 'Data Table')
                    +nav-item('dialog', 'Dialog')
                    +nav-item('drawer', 'Drawer')
                    +nav-item('fab', 'FAB')
                    +nav-item('icon-button', 'Icon Button')

            main.app-content
                block main

    script(src='/material-components-web.min.js')
    script.
        mdc.autoInit();

    block scripts