extends ../../index

prepend head
    - const ID = 'checkbox'
    - const TITLE = 'Checkbox'
    - const DESC = 'Checkboxes allow the user to select multiple options from a set.'

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            section
                +mdc-form-field('Basic')
                    +mdc-checkbox

                +mdc-form-field('Indeterminate')
                    +mdc-checkbox()(indeterminate)

                +mdc-form-field('Disabled')
                    +mdc-checkbox()(disabled)