extends ../../index

prepend head
    - const ID = 'icon-button'
    - const TITLE = 'Icon Button'
    - const DESC = 'Icons are appropriate for buttons that allow a user to take actions or make a selection, such as adding or removing a star to an item.';

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Icon Button')
                +mdc-icon-button('star')(ripple)
            
            +page-section('Icon Toggle Button')
                +mdc-icon-button('star', 'star_border')