extends /layouts/component-page

prepend head
    - ID = 'tabs'
    - TITLE = 'Tabs'
    - DESC = 'Tabs make it easy to explore and switch between different views.';

block main
    +section('Basic')
        +mdc-tab-bar
            +mdc-tab('Recent')(active)
            +mdc-tab('Nearby')
            +mdc-tab('Favorites')

    +section('Tabs with Icons')
        +mdc-tab-bar
            +mdc-tab('Recent')(icon='access_time' active)
            +mdc-tab('Nearby')(icon='near_me')
            +mdc-tab('Favorites')(icon='favorite')
    
    +section('Tabs with Stacked Icons')
        +mdc-tab-bar
            +mdc-tab('Recent')(icon='access_time' stacked active)
            +mdc-tab('Nearby')(icon='near_me' stacked)
            +mdc-tab('Favorites')(icon='favorite' stacked)

    +section('Min Width')
        +mdc-tab-bar
            +mdc-tab('Recent')(minWidth active)
            +mdc-tab('Nearby')(minWidth)
            +mdc-tab('Favorites')(minWidth)

    +section('Tab with Indicator Spanning Only Content')
        +mdc-tab-bar
            +mdc-tab('Recent')(icon='access_time' indicatorMinWidth active)
            +mdc-tab('Nearby')(icon='near_me' indicatorMinWidth)
            +mdc-tab('Favorites')(icon='favorite' indicatorMinWidth)

    +section('Fading Indicator')
        +mdc-tab-bar
            +mdc-tab('Recent')(fade active)
            +mdc-tab('Nearby')(fade)
            +mdc-tab('Favorites')(fade)

    +section('Sliding Icon Indicator')
        +mdc-tab-bar
            +mdc-tab()(indicatorIcon='access_time' active)
            +mdc-tab()(indicatorIcon='near_me')
            +mdc-tab()(indicatorIcon='favorite')

    +section('Fading Icon Indicator')
        +mdc-tab-bar
            +mdc-tab()(indicatorIcon='access_time' fade active)
            +mdc-tab()(indicatorIcon='near_me' fade)
            +mdc-tab()(indicatorIcon='favorite' fade)

    +section('Scrolling Tabs')
        +mdc-tab-bar
            for n, i in Array(15).fill(1)
                +mdc-tab(`Tab ${n + i}`)(active=(i === 0))