extends /layouts/component-page

prepend head
    - ID = 'top-app-bar'
    - TITLE = 'Top App Bar'
    - DESC = 'Top App Bars are a container for items such as application title, navigation icon, and action items.'

block main
     