extends ../../index

prepend head
    - const ID = 'text-field'
    - const TITLE = 'Text Field'
    - const DESC = 'Text fields allow users to input, edit, and select text.'

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Filled')
                +mdc-text-field()(label='Label' filled)

            +page-section('Outlined')
                +mdc-text-field()(label='Label' outlined)

            +page-section('Text Field without Label')
                +mdc-text-field()(filled)
                +mdc-text-field()(outlined)

            +page-section('Textarea')
                +mdc-text-field()(textarea filled)
                +mdc-text-field()(textarea outlined)