extends ../../index

prepend head
    - const ID = 'radio'
    - const TITLE = 'Radio Button'
    - const DESC = 'Radio buttons allow for a single option to be selected from a visible list.'

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Basic Radio Buttons')
                +mdc-radio('options', '1')
                +mdc-radio('options', '2')
                +mdc-radio('options', '3')(disabled)

            +page-section('Radio Buttons with Form Field') 
                +mdc-form-field('Option 1')
                    +mdc-radio('options', '1')

                +mdc-form-field('Option 2')
                    +mdc-radio('options', '2')

                +mdc-form-field('Option 3 (Disabled)')
                    +mdc-radio('options', '3')(disabled)