extends ../../index

prepend head
    - const ID = 'slider'
    - const TITLE = 'Slider'
    - const DESC = 'Sliders let users select from a range of values by moving the slider thumb.';

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Continuous')
                +mdc-slider(42)

            +page-section('Discrete')
                +mdc-slider(42)(discrete step=10)

            +page-section('Discrete with Tick Marks')
                +mdc-slider(50)(discrete tickMarks step=10)

            +page-section('Disabled')
                +mdc-slider(42)(disabled)