mixin mdc-avatar(text)
    div.mdc-avatar(
        class={
            [`mdc-avatar--${attributes.size}`]: attributes.size
        }
    )&attributes(Object.assign({}, attributes, {size: undefined, src: undefined}))
        if attributes.src
            img.mdc-avatar__image(src=attributes.src)
        else if text
            span.mdc-avatar__text= text
        block