mixin mdc-banner(text)
    div.mdc-banner(
        class={
            'mdc-banner--with-icon': attributes.icon,
        }
    )&attributes(Object.assign({}, attributes, {icon: undefined}))
        div.mdc-banner__inner
            if attributes.icon
                i.mdc-banner__icon.material-icons= attributes.icon
                
            p.mdc-banner__text= text

            if block
                div.mdc-banner__actions
                    block