mixin mdc-banner(text)
    div.mdc-banner(
        class={
            'mdc-banner--persistent': attributes.persistent,
        }
    )&attributes(Object.assign({}, attributes, { text: undefined, icon: undefined, persistent: undefined }))
        div.mdc-banner__inner
            div.mdc-banner__content
                if attributes.icon
                    i.mdc-banner__icon.material-icons= attributes.icon
            
                span.mdc-banner__text= text || attributes.text

            if block
                div.mdc-banner__actions
                    block