mixin mdc-button(label)
    #{attributes.element || 'button'}.mdc-button(
        class={
            'mdc-button--raised': attributes.raised,
            'mdc-button--unelevated': attributes.unelevated,
            'mdc-button--outlined': attributes.outlined,
            'mdc-button--dense': attributes.dense
        }
        data-mdc-auto-init=attributes.ripple && 'MDCRipple'
    )&attributes(Object.assign({}, attributes, {element: undefined, raised: undefined, unelevated: undefined, outlined: undefined, dense: undefined, icon: undefined, ripple: undefined}))
        if attributes.icon
            +mdc-button__icon(attributes.icon)
        if label
            +mdc-button__label(label)
        block

mixin mdc-button__icon(icon)
    if icon
        +mdc-icon(icon).mdc-button__icon&attributes(Object.assign({}, attributes))
    else
        span.mdc-button__icon&attributes(Object.assign({}, attributes))
            block

mixin mdc-button__label(label)
    span.mdc-button__label&attributes(Object.assign({}, attributes))= label
        block