mixin mdc-button(label)
    #{attributes.element || 'button'}.mdc-button(
        class={
            'mdc-button--raised': attributes.raised,
            'mdc-button--unelevated': attributes.unelevated,
            'mdc-button--outlined': attributes.outlined
        }
        data-mdc-auto-init=attributes.ripple && 'MDCRipple'
    )&attributes(Object.assign({}, attributes, { element: undefined, icon: undefined, leadingIcon: undefined, trailingIcon: undefined, raised: undefined, unelevated: undefined, outlined: undefined, ripple: undefined }))
        div.mdc-button__ripple
        
        if attributes.icon || attributes.leadingIcon
            +mdc-button__icon(attributes.icon)(aria-hidden='true')
        
        if label
            +mdc-button__label(label)

        if attributes.trailingIcon
            +mdc-button__icon(attributes.trailingIcon)(aria-hidden='true')
        
        block

mixin mdc-button__icon(icon)
    +mdc-icon(icon).mdc-button__icon&attributes(attributes)
        block

mixin mdc-button__label(label)
    span.mdc-button__label&attributes(attributes)= label
        block