mixin mdc-button(label)
    #{attributes.element || 'button'}.mdc-button(
        class={
            'mdc-button--raised': attributes.raised,
            'mdc-button--unelevated': attributes.unelevated,
            'mdc-button--outlined': attributes.outlined
        }
        data-mdc-auto-init=attributes.ripple && 'MDCRipple'
    )&attributes(Object.assign({}, attributes, {element: undefined, raised: undefined, unelevated: undefined, outlined: undefined, icon: undefined, ripple: undefined}))
        div.mdc-button__ripple
        
        if attributes.icon
            +mdc-button__icon(attributes.icon)
        
        if label
            +mdc-button__label(label)
        
        block

mixin mdc-button__icon(icon)
    +mdc-icon(icon).mdc-button__icon&attributes(attributes)
        block

mixin mdc-button__label(label)
    span.mdc-button__label&attributes(attributes)= label
        block