mixin mdc-chip-set
    div.mdc-chip-set(
        class={
            'mdc-chip-set--choice': attributes.choice,
            'mdc-chip-set--filter': attributes.filter,
            'mdc-chip-set--input': attributes.input
        }
        data-mdc-auto-init='MDCChipSet'
    )&attributes(Object.assign({}, attributes, { choice: undefined, filter: undefined, input: undefined }))
        block

mixin mdc-chip(text)
    #{attributes.element || 'div'}.mdc-chip(
        class={
            'mdc-chip--selected': attributes.selected,
            'mdc-chip--outlined': attributes.outlined
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, leadingIcon: undefined, trailingIcon: undefined, selected: undefined, outlined: undefined }))
        div.mdc-chip__ripple

        if attributes.leadingIcon
            i.mdc-chip__icon.mdc-chip__icon--leading.material-icons(
                class={'mdc-chip__icon--leading-hidden': attributes.selected}
            )= attributes.leadingIcon

            if attributes.selected
                span.mdc-chip__checkmark
                    svg.mdc-chip__checkmark-svg(viewBox="-2 -3 30 30")
                        path.mdc-chip__checkmark-path(fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59")

        span.mdc-chip__primary-action(role='button' tabindex='0')
            span.mdc-chip__text= text
                block

        if attributes.trailingIcon
            i.mdc-chip__icon.mdc-chip__icon--trailing.material-icons(role='button' tabindex='0')= attributes.trailingIcon