mixin mdc-data-table
    div.mdc-data-table
        table.mdc-data-table__table&attributes(attributes)
            block

mixin mdc-data-table__header
    thead.mdc-data-table__header&attributes(attributes)
        block

mixin mdc-data-table__header-row
    tr.mdc-data-table__header-row&attributes(attributes)
        block

mixin mdc-data-table__header-cell
    td.mdc-data-table__header-cell(
        class={
            'mdc-data-table__header-cell--numeric': attributes.numeric,
            'mdc-data-table__header-cell--checkbox': attributes.checkbox
        }
    )&attributes(Object.assign({}, attributes, {numeric: undefined, checkbox: undefined}))
        block

mixin mdc-data-table__content
    tbody.mdc-data-table__content&attributes(attributes)
        block

mixin mdc-data-table__row
    tr.mdc-data-table__row(
        class={
            'mdc-data-table__row--selected': attributes.selected
        }
    )&attributes(Object.assign({}, attributes, {selected: undefined}))
        block

mixin mdc-data-table__cell
    td.mdc-data-table__cell(
        class={
            'mdc-data-table__cell--numeric': attributes.numeric,
            'mdc-data-table__cell--checkbox': attributes.checkbox,
        }
    )&attributes(Object.assign({}, attributes, {numeric: undefined, checkbox: undefined}))
        block

mixin mdc-data-table__header-row-checkbox(name)
    +mdc-checkbox(name).mdc-data-table__header-row-checkbox&attributes(attributes)

mixin mdc-data-table__row-checkbox(name)
    +mdc-checkbox(name).mdc-data-table__row-checkbox&attributes(attributes)