mixin mdc-fab(icon, label)
    #{attributes.element || 'button'}.mdc-fab(
        class={
            'mdc-fab--fixed': attributes.fixed,
            'mdc-fab--mini': attributes.mini,
            'mdc-fab--extended': label || attributes.extended
        }
        data-mdc-auto-init=attributes.ripple && 'MDCRipple'
    )&attributes(Object.assign({}, attributes, {element: undefined, fixed: undefined, mini: undefined, extended: undefined}))
        if icon
            +mdc-fab__icon(icon)
        if label
            +mdc-fab__label(label)
        block

mixin mdc-fab__icon(icon)
    if icon
        +mdc-icon(icon).mdc-fab__icon&attributes(Object.assign({}, attributes))
    else
        span.mdc-fab__icon&attributes(Object.assign({}, attributes))
            block

mixin mdc-fab__label(label)
    span.mdc-fab__label&attributes(Object.assign({}, attributes))= label
        block