mixin mdc-floating-label(label)
    label.mdc-floating-label(
        class={
            'mdc-floating-label--float-above': attributes.floatAbove
        }
    )&attributes(Object.assign({}, attributes, {floatAbove: undefined}))= label
        block