mixin mdc-floating-label(label)
    #{attributes.element || 'span'}.mdc-floating-label(
        class={
            'mdc-floating-label--float-above': attributes.floatAbove
        }
    )&attributes(Object.assign({}, attributes, {element: undefined, floatAbove: undefined}))= label
        block