mixin mdc-icon(icon)
    #{attributes.element || 'i'}.mdc-icon(
        class={
            'material-icons': icon,
            [`mdc-icon--${attributes.size}`]: attributes.size, 
            'mdc-icon--dark': attributes.dark,
            'mdc-icon--light': attributes.light,
            'mdc-icon--inactive': attributes.disabled
        }
    )&attributes(Object.assign({}, attributes, { element: undefined, size: undefined, dark: undefined, light: undefined, disabled: undefined }))= icon
        block