mixin mdc-image-list
    #{attributes.element || 'ul'}.mdc-image-list(
        class={
            'mdc-image-list--masonry': attributes.masonry,
            'mdc-image-list--with-text-protection': attributes.textProtection
        }
    )
        ul.mdc-grid-list__tiles&attributes(Object.assign({}, attributes, {element: undefined, masonry: undefined, textProtection: undefined}))
            block

mixin mdc-image-list__item(src, text)
    #{attributes.element || 'li'}.mdc-image-list__item()&attributes(Object.assign({}, attributes, {element: undefined}))
        +mdc-image-list__image(src)
            
        if text
            +mdc-image-list__label(text)

mixin mdc-image-list__image(src)
    if attributes.aspectContainer
        div.mdc-image-list__image-aspect-container
            img.mdc-image-list__image(src=src)&attributes(Object.assign({}, attributes, {aspectContainer: undefined}))
    else
        img.mdc-image-list__image(src=src)&attributes(Object.assign({}, attributes, {aspectContainer: undefined}))


mixin mdc-image-list__label(label)
    div.mdc-image-list__supporting
        span.mdc-image-list__label&attributes(Object.assign({}, attributes))= label