mixin mdc-line-ripple
    div.mdc-line-ripple(
        class={
            'mdc-ripple-surface--primary': attributes.primary,
            'mdc-ripple-surface--accent': attributes.accent
        }
    )&attributes(attributes)