mixin mdc-notched-outline
    div.mdc-notched-outline(
        class={
            'mdc-notched-outline--no-label': !block
        }
    )&attributes(attributes)
        div.mdc-notched-outline__leading

        if block
            div.mdc-notched-outline__notch
                block
        
        div.mdc-notched-outline__trailing