mixin mdc-spinner
    svg.mdc-spinner(
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 66 66'
        class={
            'mdc-spinner--colorful': attributes.colorful
        }
    )
        circle.mdc-spinner__circle(cx='33' cy='33' r='30')