mixin mdc-tab-scroller
    div.mdc-tab-scroller(
        class={
            [`mdc-tab-scroller--align-${attributes.align}`]: attributes.align
        }
        data-mdc-auto-init=attributes.init && 'MDCTabScroller'
    )
        div.mdc-tab-scroller__scroll-area
            div.mdc-tab-scroller__scroll-content
                block