mixin mdc-tab-bar
    #{attributes.element || 'div'}.mdc-tab-bar(
        data-mdc-auto-init='MDCTabBar'
    )&attributes(Object.assign({}, attributes, {element: undefined, init: undefined}))
        +mdc-tab-scroller()(align=attributes.align)
            block