extends ../../index

prepend head
    - const ID = 'top-app-bar'
    - const TITLE = 'Top App Bar'
    - const DESC = 'Top App Bars are a container for items such as application title, navigation icon, and action items.'

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
