extends ../../index

prepend head
    - const ID = 'avatar'
    - const TITLE = 'Avatar'

    style.
        .mdc-avatar + .mdc-avatar {
            margin-left: 8px;
        }

block main
    +page
        +page-header('Avatar')

        +page-content
            section
                +mdc-avatar()(src='/pug.svg')
                +mdc-avatar()(icon='star')
                +mdc-avatar('P')