extends ../../index

prepend head
    - const ID = 'linear-progress'
    - const TITLE = 'Linear Progress'
    - const DESC = 'Progress indicators display the length of a process or express an unspecified wait time.';

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Basic')
                +mdc-linear-progress(42)

            +page-section('Buffered')
                +mdc-linear-progress(24, 42)

            +page-section('Indeterminate')
                +mdc-linear-progress()(indeterminate)

            +page-section('Reversed')
                +mdc-linear-progress(42)(reversed)

            +page-section('Reversed Buffered')
                +mdc-linear-progress(24, 42)(reversed)
