mixin mdc-avatar(text)
    - text = text || attributes.text

    span.mdc-avatar(
        class={
            [`mdc-avatar--${attributes.size}`]: attributes.size
        }
    )&attributes(Object.assign({}, attributes, { text: attributes.text, icon: undefined, src: undefined, size: undefined }))
        if attributes.src
            img.mdc-avatar__image(src=attributes.src)
        else if attributes.icon
            i.material-icons.mdc-icon.mdc-avatar__icon= attributes.icon
        else if text
            span.mdc-avatar__text= text
        
        block