mixin mdc-button(label)
    #{attributes.element || 'button'}.mdc-button(
        class={
            'mdc-button--raised': attributes.raised,
            'mdc-button--unelevated': attributes.unelevated,
            'mdc-button--outlined': attributes.outlined,
            'mdc-button--icon-leading': attributes.icon || attributes.leadingIcon,
            'mdc-button--icon-trailing': attributes.trailingIcon,
            'mdc-button--touch': attributes.touch
        }
        data-mdc-auto-init='MDCRipple'
    )&attributes(Object.assign({}, attributes, { element: undefined, icon: undefined, leadingIcon: undefined, trailingIcon: undefined, raised: undefined, unelevated: undefined, outlined: undefined, touch: undefined }))
        span.mdc-button__ripple

        if attributes.touch
            span.mdc-button__touch
        
        if attributes.icon || attributes.leadingIcon
            +mdc-button__icon(attributes.icon || attributes.leadingIcon)(aria-hidden='true')
        
        if label
            +mdc-button__label(label)

        if attributes.trailingIcon
            +mdc-button__icon(attributes.trailingIcon)(aria-hidden='true')
        
        block

mixin mdc-button__label(label)
    span.mdc-button__label&attributes(attributes)= label
        block

mixin mdc-button__icon(icon)
    +mdc-icon(icon).mdc-button__icon&attributes(attributes)
        block