mixin mdc-icon-button(onIcon, offIcon)
    #{attributes.element || 'button'}.mdc-icon-button(
        class={
            'material-icons': onIcon && !offIcon,
            'mdc-icon-button--on': attributes.on
        }
        data-mdc-auto-init='MDCIconButtonToggle'
    )&attributes(Object.assign({}, attributes, { element: undefined, on: undefined, ripple: undefined }))
        unless offIcon
            =onIcon
        else
            +mdc-icon-button__icon(onIcon)(on)
            +mdc-icon-button__icon(offIcon)
        block

mixin mdc-icon-button__icon(icon)
    +mdc-icon(icon)(
        class={
            'mdc-icon-button__icon--on': attributes.on
        }
    ).mdc-icon-button__icon&attributes(Object.assign({}, attributes, { on: undefined }))
        block