mixin mdc-snackbar(label)
    div.mdc-snackbar(
        class={
            'mdc-snackbar--open': attributes.open,
            'mdc-snackbar--stacked': attributes.stacked,
            'mdc-snackbar--leading': attributes.leading
        }
        data-mdc-auto-init='MDCSnackbar'
    )&attributes(Object.assign({}, attributes, { open: undefined, stacked: undefined, leading: undefined, dismissible: undefined, actionLabel: undefined }))
        div.mdc-snackbar__surface(role='status' aria-relevant='additions')
            div.mdc-snackbar__label(aria-atomic='false')= label

            if block || attributes.actionLabel || attributes.dismissible
                div.mdc-snackbar__actions(aria-atomic='true')
                    block

                    if attributes.actionLabel
                        +mdc-snackbar__action(attributes.actionLabel)

                    if attributes.dismissible
                        +mdc-icon-button('close').mdc-snackbar__dismiss

mixin mdc-snackbar__action(label)
    +mdc-button(label).mdc-snackbar__action&attributes(attributes)