mixin mdc-snackbar(label)
    div.mdc-snackbar(
        class={
            'mdc-snackbar--open': attributes.open,
            'mdc-snackbar--stacked': attributes.stacked,
            'mdc-snackbar--leading': attributes.leading
        }
        data-mdc-auto-init='MDCSnackbar'
    )&attributes(Object.assign({}, attributes, { open: undefined, stacked: undefined, leading: undefined, dismissable: undefined, actionLabel: undefined }))
        div.mdc-snackbar__surface
            div.mdc-snackbar__label(role='status' aria-live='polite')= label

            if block || attributes.actionLabel || attributes.dismissable
                div.mdc-snackbar__actions
                    block

                    if attributes.actionLabel
                        +mdc-snackbar__action(attributes.actionLabel)

                    if attributes.dismissable
                        +mdc-icon-button('close').mdc-snackbar__dismiss

mixin mdc-snackbar__action(label)
    +mdc-button(label).mdc-snackbar__action&attributes(attributes)