mixin mdc-tab-indicator
    span.mdc-tab-indicator(
        class={
            'mdc-tab-indicator--active': attributes.active,
            'mdc-tab-indicator--fade': attributes.fade
        }
    )&attributes(Object.assign({}, attributes, { icon: undefined, active: undefined, fade: undefined }))
        if attributes.icon
            +mdc-icon(attributes.icon)(aria-hidden='true').mdc-tab-indicator__content.mdc-tab-indicator__content--icon
        else
            span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline