extends ../../index

prepend head
    - const ID = 'banner'
    - const TITLE = 'Banner'
    - const DESC = 'A banner displays a prominent message and related optional actions.'
    - const DOCS_URL = 'https://github.com/material-components/material-components-web/tree/master/packages/mdc-banner'
    - const IMAGE_URL = 'https://github.com/material-components/material-components-web/raw/master/packages/mdc-banner/images/banner.png'

block main
    +page
        +page-header(TITLE, DESC, DOCS_URL, IMAGE_URL)

        +page-content
            +page-section('Text Banner')
                +mdc-button('Open')(onclick='window["basic-banner"].MDCBanner.open()')
                +mdc-button('Close')(onclick='window["basic-banner"].MDCBanner.close()')

                :code
                    +mdc-banner('There was a problem processing a transaction on your credit card.')(open)#basic-banner

        +page-content
            +page-section('Centered Banner')
                +mdc-button('Open')(onclick='window["centered-banner"].MDCBanner.open()')
                +mdc-button('Close')(onclick='window["centered-banner"].MDCBanner.close()')

                :code
                    +mdc-banner('There was a problem processing a transaction on your credit card.')(centered open)#centered-banner

        +page-content
            +page-section('Fixed Banner')
                +mdc-button('Open')(onclick='window["fixed-banner"].MDCBanner.open()')
                +mdc-button('Close')(onclick='window["fixed-banner"].MDCBanner.close()')

                :code
                    +mdc-banner('There was a problem processing a transaction on your credit card.')(fixed open)#fixed-banner

        +page-content
            +page-section('Banner with graphic')
                +mdc-button('Open')(onclick='window["graphic-banner"].MDCBanner.open()')
                +mdc-button('Close')(onclick='window["graphic-banner"].MDCBanner.close()')

                :code
                    +mdc-banner('There was a problem processing a transaction on your credit card.')(icon='error_outline' open)#graphic-banner