extends /layouts/component-page

prepend head
    - ID = 'form-field'
    - TITLE = 'Form Field'
    - DESC = ''

block main
    +section('Example')
        +example('Basic form field')(code)
            +mdc-form-field('Checkbox')
                +mdc-checkbox

        +example('Form field end-aligned')(code)
            +mdc-form-field('Checkbox')(alignEnd)
                +mdc-checkbox

        +example('Form field with a native element')(code)
            +mdc-form-field('Enter a date: ')(alignEnd)
                input(type='datetime-local')