extends ../index

prepend head
    - const TITLE = 'Avatar'
    - const ID = 'avatar'

block main
    +mdc-typography('Avatar')(style='headline3')
    +mdc-typography('')(style='body1')

    section
        +mdc-avatar()(src='/pug.svg')