extends ../index

prepend head
    - const TITLE = 'Badge'
    - const ID = 'badge'

block main
    +mdc-typography('Badge')(style='headline3')
    +mdc-typography('')(style='body1')

    section
        +mdc-badge(42)
            +mdc-typography('Notifications', 'button')(element='span')