extends ../index

prepend head
    - const TITLE = 'Button'
    - const ID = 'button'

block main
    +mdc-typography('Button')(style='headline3')
    +mdc-typography('Buttons communicate an action a user can take. They are typically placed throughout your UI, in places like dialogs, forms, cards, and toolbars.')(style='body1')

    section
        +mdc-typography('Text Button')(style='subtitle2')

        +mdc-button('Button')(ripple)
        +mdc-button('Dense')(dense ripple)
        +mdc-button('Icon')(icon='star' ripple)

    section
        +mdc-typography('Raised Button')(style='subtitle2')

        +mdc-button('Button')(raised ripple)
        +mdc-button('Dense')(raised dense ripple)
        +mdc-button('Icon')(raised icon='star' ripple)

    section
        +mdc-typography('Unelevated Button')(style='subtitle2')

        +mdc-button('Button')(unelevated ripple)
        +mdc-button('Dense')(unelevated dense ripple)
        +mdc-button('Icon')(unelevated icon='star' ripple)

    section
        +mdc-typography('Outlined Button')(style='subtitle2')

        +mdc-button('Button')(outlined ripple)
        +mdc-button('Dense')(outlined dense ripple)
        +mdc-button('Icon')(outlined icon='star' ripple)