extends ../index

prepend head
    - const TITLE = 'Card'
    - const ID = 'card'

block main
    +mdc-typography('Card')(style='headline3')
    +mdc-typography('Cards contain content and actions about a single subject.')(style='body1')

    section
        +mdc-card
            +mdc-card__primary-action()(ripple)
                +mdc-card__header
                    +mdc-card__header__text('Our Changing Planet', 'by Kurt Wagner')

                +mdc-card__section()(secondary)
                    +mdc-typography('Visit ten places on our planet that are undergoing the biggest changes today.', 'body2')(style='body2')