extends ../index

prepend head
    - const TITLE = 'Chips'
    - const ID = 'chips'

block main
    +mdc-typography('Chips')(style='headline3')
    +mdc-typography('Chips are compact elements that allow users to enter information, select a choice, filter content, or trigger an action.')(style='body1')

    section
        +mdc-chip-set
            +mdc-chip('One')
            +mdc-chip('Two')
            +mdc-chip('Three')
            +mdc-chip('Four')