extends ../index

prepend head
    - const TITLE = 'Circular Progress'
    - const ID = 'circular-progress'

block main
    +mdc-typography('Circular Progress')(style='headline3')
    +mdc-typography('')(style='body1')

    section
        +mdc-circular-progress(42)