extends ../index

prepend head
    - const TITLE = 'Data Table'
    - const ID = 'data-table'

block main
    +mdc-typography('Data Table')(style='headline3')
    +mdc-typography('')(style='body1')

    section
        +mdc-data-table