extends ../index

prepend head
    - const TITLE = 'Icon Button'
    - const ID = 'icon-button'

block main
    +mdc-typography('Icon Button')(style='headline3')
    +mdc-typography('Icons are appropriate for buttons that allow a user to take actions or make a selection, such as adding or removing a star to an item.')(style='body1')

    section
        +mdc-icon-button('star')
    
    section
        +mdc-icon-button('star', 'star_border')