include icon
include image

mixin mdc-avatar(_text)
    - const { element = 'span', text = _text, icon, image, size, small, medium, large, ...rest } = attributes

    #{element}.mdc-avatar(class={
        'mdc-avatar--small': small,
        'mdc-avatar--medium': medium,
        'mdc-avatar--large': large,
        [`mdc-avatar--${size}`]: size
    })&attributes(rest)
        if text
            span.mdc-avatar__text= text
        else if icon
            +mdc-icon(icon).mdc-avatar__icon
        else if image
            +image(image).mdc-avatar__image

        block