mixin mdc-badge(_value)
    - const { element = 'span', value = _value, inset, transparent, ...rest } = attributes

    #{element}.mdc-badge(
        class={
            'mdc-badge--inset': inset,
            'mdc-badge--transparent': transparent
        }
        data-badge=value
    )&attributes(rest)
        block