include icon

mixin mdc-button(_label)
    - const { element = 'button', label = _label, icon, leadingIcon = icon, trailingIcon, outlined, unelevated, raised, touch, ...rest } = attributes

    #{element}.mdc-button(
        class={
            'mdc-button--outlined': outlined,
            'mdc-button--unelevated': unelevated,
            'mdc-button--raised': raised,
            'mdc-button--touch': touch,
            'mdc-button--icon-leading': leadingIcon,
            'mdc-button--icon-trailing': trailingIcon
        }
        data-mdc-auto-init='MDCRipple'
    )&attributes(rest)
        span.mdc-button__ripple

        if touch
            span.mdc-button__touch
        
        if leadingIcon
            +mdc-icon(leadingIcon)(aria-hidden='true').mdc-button__icon
        
        if label
            span.mdc-button__label= label

        if trailingIcon
            +mdc-icon(trailingIcon)(aria-hidden='true').mdc-button__icon
        
        block