mixin mdc-fab(_icon)
    - const { element = 'button', icon = _icon, label, trailingIcon, fixed, mini, extended = Boolean(label), ...rest } = attributes

    #{element}.mdc-fab(
        class={
            'mdc-fab--fixed': fixed,
            'mdc-fab--mini': mini,
            'mdc-fab--extended': extended
        }
        data-mdc-auto-init='MDCRipple'
    )&attributes(rest)
        div.mdc-fab__ripple

        if icon
            +mdc-icon(icon).mdc-fab__icon
        if label
            span.mdc-fab__label= label
        if trailingIcon
            +mdc-icon(trailingIcon).mdc-fab__icon

        block