mixin mdc-floating-label(_label)
    - const { element = 'span', label = _label, floatAbove, required, ...rest } = attributes

    #{element}.mdc-floating-label(class={
        'mdc-floating-label--float-above': floatAbove,
        'mdc-floating-label--required': required
    })&attributes(rest)= label
        block