mixin mdc-form-field(label)
    - const { element = 'div', alignEnd, nowrap, for: _for, ...rest } = attributes

    #{element}.mdc-form-field(
        class={
            'mdc-form-field--align-end': alignEnd,
            'mdc-form-field--nowrap': nowrap
        }
        data-mdc-auto-init='MDCFormField'
    )&attributes(rest)
        block

        if label
            label(for=_for)= label