mixin mdc-icon(icon)
    - const { element = 'i', size, dark, light, disabled, ...rest } = attributes

    #{element}.mdc-icon(class={
        'material-icons': icon,
        [`mdc-icon--${size}`]: size, 
        'mdc-icon--dark': dark,
        'mdc-icon--light': light,
        'mdc-icon--inactive': disabled
    })&attributes(rest)= icon
        block