mixin mdc-icon-button(_onIcon, _offIcon)
    - const { button = 'element', onIcon = _onIcon, offIcon = _offIcon, on, ...rest } = attributes

    #{element}.mdc-icon-button(
        class={
            'material-icons': onIcon && !offIcon,
            'mdc-icon-button--on': on
        }
        data-mdc-auto-init=offIcon ? 'MDCIconButtonToggle' : 'MDCRipple'
        data-mdc-ripple-is-unbounded
    )&attributes(rest)
        span.mdc-icon-button__ripple
        
        unless offIcon
            =onIcon
        else
            +mdc-icon-button__icon(onIcon)(on)
            +mdc-icon-button__icon(offIcon)
        block

mixin mdc-icon-button__icon(icon)
    - const { on, ...rest } = attributes

    +mdc-icon(icon)(class={
        'mdc-icon-button__icon--on': on
    }).mdc-icon-button__icon&attributes(rest)
        block