mixin mdc-layout
    - const { element = 'div', row, column, direction, justify, align, ...rest } = attributes

    #{element}.mdc-layout(class={
        'mdc-layout--row': row,
        'mdc-layout--column': column,
        [`mdc-layout--direction--${direction}`]: direction,
        [`mdc-layout--justify-${justify}`]: justify,
        [`mdc-layout--align-${align}`]: align
    })&attributes(rest)
        block