mixin mdc-ripple(name, value)
    - const { element = 'div', primary, accent, ...rest } = attributes

    #{element}.mdc-ripple-surface(
        class={
            'mdc-ripple-surface--primary': primary,
            'mdc-ripple-surface--accent': accent
        }
        data-mdc-auto-init='MDCRipple'
    )&attributes(rest)
        block