include icon

mixin mdc-segmented-button
    - const { element = 'div', singleSelect, ...rest } = attributes

    #{element}.mdc-segmented-button(
        class={
            'mdc-segmented-button--single-select': singleSelect
        }
        data-mdc-auto-init='MDCSegmentedButton'
    )&attributes(rest)
        block

mixin mdc-segmented-button__segment(content)
    - const { element = 'button', selected, ...rest } = attributes

    #{element}.mdc-segmented-button__segment(class={
        'mdc-segmented-button__segment--selected': selected
    })&attributes(rest)
        div.mdc-segmented-button__ripple

        if icon
            +mdc-icon(icon).mdc-segmented-button__icon
        if label
            div.mdc-segmented-button__label= label 

        block