mixin mdc-snackbar(_text)
    - const { element = 'div', text = _text, icon, action, open, stacked, leading, dismissible, ...rest } = attributes

    #{element}.mdc-snackbar(
        class={
            'mdc-snackbar--open': open,
            'mdc-snackbar--stacked': stacked,
            'mdc-snackbar--leading': leading
        }
        data-mdc-auto-init='MDCSnackbar'
    )&attributes(rest)
        div.mdc-snackbar__surface(role='status' aria-relevant='additions')
            if text
                div.mdc-snackbar__label(aria-atomic='false')= text

            if block || action || dismissible
                div.mdc-snackbar__actions(aria-atomic='true')
                    block

                    if action
                        +mdc-snackbar__action(action)

                    if dismissible
                        +mdc-icon-button('close').mdc-snackbar__dismiss

mixin mdc-snackbar__action(...args)
    +mdc-button(...args).mdc-snackbar__action&attributes(attributes)