extends /layouts/component-page

prepend head
    - ID = 'drawer'
    - TITLE = 'Drawer'
    - DESC = 'The navigation drawer slides in from the left and contains the navigation destinations for your app.'
    - DOCS_URL = 'https://github.com/material-components/material-components-web/tree/master/packages/mdc-drawer'
    - GUIDE_URL = 'https://material.io/components/navigation-drawer'

block main
    +section('Examples')
        +example('Permanent')(code)
            +mdc-card()(outlined)
                iframe(src='/components/drawer/permanent.html')

            :highlight(lang='pug')
                +mdc-drawer
                    +mdc-drawer__header('Mail', 'email@material.io')

                +mdc-drawer__content
                    +mdc-list
                        +mdc-list-item('Inbox')(activated)
                        +mdc-list-item('Star')
                        +mdc-list-item('Sent Email')
                        +mdc-list-item('Drafts')

        +example('Dismissible')(code)
            +mdc-card()(outlined)
                iframe(src='/components/drawer/dismissible.html')

            :highlight(lang='pug')
                +mdc-drawer()(dismissible)
                    +mdc-drawer__header('Mail', 'email@material.io')

                +mdc-drawer__content
                    +mdc-list
                        +mdc-list-item('Inbox')(activated)
                        +mdc-list-item('Star')
                        +mdc-list-item('Sent Email')
                        +mdc-list-item('Drafts')

        +example('Modal')(code)
            +mdc-card()(outlined)
                iframe(src='/components/drawer/modal.html')

            :highlight(lang='pug')
                +mdc-drawer()(modal)
                    +mdc-drawer__header('Mail', 'email@material.io')

                +mdc-drawer__content
                    +mdc-list
                        +mdc-list-item('Inbox')(activated)
                        +mdc-list-item('Star')
                        +mdc-list-item('Sent Email')
                        +mdc-list-item('Drafts')