extends ../../index

prepend head
    - const ID = 'segmented-button'
    - const TITLE = 'Segmented Button'
    - const DESC = 'Segmented buttons allow users to toggle the selected states of grouped buttons.'
    - const DOCS_URL = 'https://github.com/material-components/material-components-web/tree/master/packages/mdc-segmented-button'

block main
    +page
        +page-header(TITLE, DESC, DOCS_URL)

        +page-content
            +page-section('Multi select')
                :code
                    +mdc-segmented-button
                        +mdc-segmented-button__segment()(icon='favorite')
                        +mdc-segmented-button__segment()(label='Sample Text')
                        +mdc-segmented-button__segment()(icon='favorite' label='Sample Text')

            +page-section('Single select')
                :code
                    +mdc-segmented-button()(singleSelect)
                        +mdc-segmented-button__segment()(icon='favorite' selected)
                        +mdc-segmented-button__segment()(label='Sample Text')
                        +mdc-segmented-button__segment()(icon='favorite' label='Sample Text')