extends ../../index

prepend head
    - const ID = 'list'
    - const TITLE = 'List'
    - const DESC = 'Lists present multiple line items vertically as a single continuous element.';

block main
    +page
        +page-header(TITLE, DESC)

        +page-content
            +page-section('Single-Line')
                +mdc-list
                    +mdc-list-item('Line item')
                    +mdc-list-item('Line item')
                    +mdc-list-item('Line item')

            +page-section('Two-Line')
                +mdc-list()(twoLine)
                    +mdc-list-item('Line item', 'Secondary text')
                    +mdc-list-item('Line item', 'Secondary text')
                    +mdc-list-item('Line item', 'Secondary text')

            +page-section('Icon List')
                +mdc-list()(iconList)
                    +mdc-list-item
                        +mdc-list-item__graphic('wifi')
                        +mdc-list-item__text('Line item')

                    +mdc-list-item
                        +mdc-list-item__graphic('bluetooth')
                        +mdc-list-item__text('Line item')

                    +mdc-list-item
                        +mdc-list-item__graphic('data_usage')
                        +mdc-list-item__text('Line item')

            +page-section('Avatar List')
                +mdc-list()(avatarList)
                    +mdc-list-item
                        +mdc-list-item__graphic
                            +mdc-avatar()(icon='person')
                        +mdc-list-item__text('Line item')

                    +mdc-list-item
                        +mdc-list-item__graphic
                            +mdc-avatar()(icon='person')
                        +mdc-list-item__text('Line item')

                    +mdc-list-item
                        +mdc-list-item__graphic
                            +mdc-avatar()(icon='person')
                        +mdc-list-item__text('Line item')

            +page-section('List Item Meta')
                +mdc-list()(iconList)
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta('text')
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta('text')
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta('text')
                
                +mdc-list-divider

                +mdc-list()(iconList)
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta
                            +mdc-icon('wifi')
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta
                            +mdc-icon('bluetooth')
                    +mdc-list-item
                        +mdc-list-item__text('Line item')
                        +mdc-list-item__meta
                            +mdc-icon('data_usage')
            
            +page-section('List Item States')
                +mdc-list()(iconList)
                    +mdc-list-item('Activated')(activated)
                    +mdc-list-item('Selected')(selected)
                    +mdc-list-item('Selected')(selected)
                    +mdc-list-item('Disabled')(disabled)