@use '../index.scss' with (
    $primary: #a86454
);

body {
    margin: 0;
}

.app-header {
    img {
        height: 100%;
    }
}

.app-drawer {
    position: fixed;
    top: 64px;
    height: calc(100% - 64px);
}

.app-content {
    margin-left: 256px;
    padding: 2rem;
}

.page {
    max-width: 1024px;
    margin: auto;

    .page-header {
        img {
            max-width: 100%;
        }
    }

    .page-title {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}