$sm: '(max-width: 639px)';
$gt-sm: '(min-width: 640px)';

$lt-md: '(max-width: 639px)';
$md: '(min-width: 640px) and (max-width: 959px)';
$md-up: '(min-width: 640px)';
$gt-md: '(min-width: 960px)';

$lt-lg: '(max-width: 959px)';
$lg: '(min-width: 960px) and (max-width: 1439px)';
$lg-up: '(min-width: 960px)';
$gt-lg: '(min-width: 1440px)';

$xl: '(min-width: 1440px)';