@use '@material/button';
@use '@material/theme';
@use '@material/typography';

.mdc-banner {
    @include theme.prop(background-color, surface);
    @include theme.prop(color, on-surface);
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    & &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 54px;
        padding: 0 16px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    & &__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 8px 0;

        &:only-child {
            margin: auto;
        }
    }

    & &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 8px 0 8px auto;
        padding-left: 28px;
    }

    & &__icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 16px;
        flex-shrink: 0;
        text-align: center;
        border-radius: 50%;
        @include theme.prop(color, text-icon-on-light);

        + .mdc-banner__text {
            margin-top: 10px;
        }
    }

    & &__text {
        @include typography.base;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    & &__action {
        margin-left: 8px;
    }
}

@mixin max-width($width) {
    .mdc-banner .mdc-banner__inner {
        max-width: $width;
        margin: auto;
    }
}