@use '@material/theme' as theme;
@use '@material/typography' as typography;
@use './breakpoints';

.mdc-banner {
    @include theme.prop(background-color, surface);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .mdc-banner__inner {
        width: 100%;
        max-width: 1024px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        box-sizing: border-box;

        @media #{breakpoints.$lt-md} {
            flex-wrap: wrap;
        }
    }

    .mdc-banner__text {
        @include typography.typography(subtitle1);
        @include theme.prop(color, text-primary-on-light);
        margin: 0;
    }

    .mdc-banner__actions {
        margin-left: auto;
        display: flex;
        align-content: center;

        @media #{breakpoints.$lt-md} {
            margin-top: 12px;
        }
    }

    &.mdc-banner--with-icon {
        @media #{breakpoints.$gt-md} {
            display: flex;
            align-items: center;
        }

        .mdc-banner__icon {
            @include theme.prop(color, text-secondary-on-light);

            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 100%;
            margin-right: 24px;
            font-size: 32px;
        }
    }
}