@forward '@material/card' as card-*;
@use '@material/theme';
@use '@material/typography';
@use '@material/icon-button';
@use '@material/card/mdc-card';

.mdc-card {
    .mdc-card__header {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 2px 2px 0 0;
    
        .mdc-card__header__graphic {
            @include theme.property(color, text-secondary-on-light);
            margin-right: 16px;
        }
    
        .mdc-card__header__text {
            flex: 1;
            @include typography.overflow-ellipsis;
        }

        .mdc-card__header__actions {
            margin-left: auto;
        }
    
        .mdc-card__title {
            @include typography.typography(headline6);
            @include theme.property(color, text-primary-on-light);
            
            margin: 0;
    
            + .mdc-card__subtitle {
                line-height: 1.5rem;
            }
        }
    
        .mdc-card__subtitle {
            @include typography.typography(body2);
            @include theme.property(color, text-secondary-on-light);
            margin: 0;
        }
    
        .mdc-card__header__graphic,
        .mdc-card__action {
            &.mdc-icon-button,
            .mdc-icon-button {
                @include icon-button.size(32px);
                @include icon-button.ink-color(text-secondary-on-light);
            }
        }
    }

    .mdc-card__media {
        overflow: hidden;
        
        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .mdc-card__section {
        box-sizing: border-box;
        
        
        &.mdc-card__section--primary {
            padding: 8px 16px;
        }
    
        &.mdc-card__section--secondary {    
            padding: 0 16px 8px;
        }
    }

    .mdc-card__actions:last-child {
        margin-top: auto;
    }
}