@use '@material/data-table/mdc-data-table';

.mdc-data-table {
    .mdc-data-table__header-cell {
        text-overflow: ellipsis;

        &.mdc-data-table__header-cell--sorted-ascending,
        &.mdc-data-table__header-cell--sorted-descending {
            color: rgba(#000, 0.87);
            
            &:before {
                font-size: 1rem;
                content: "\e5d8";
                margin-right: 5px;
                vertical-align: sub;
            }

            &:hover {
                cursor: pointer;
                
                &:before {
                    color: rgba(#000, 0.26);
                }
            }
        }
    }
}